 ../diplom-env

diplom/tempates/ignore/


.idea/

__pycache__/
venv/

db.sqlite3/

.env/
env


static/home/Source
static/home/fonts
static/home/imge
static/autontification/

static/news/scss
static/news/fonts
static/news/images


page/shop/static/

templates/ex/
templates/home/

Please/
Please:/
Select/
Select:/
media/
__pycache__

