<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href="{% static 'activar/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'activar/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'activar/css/elegant-icons.css'%}" rel="stylesheet">
    <link href="{% static 'activar/css/nice-select.css'%}" rel="stylesheet">
    <link href="{% static 'activar/css/owl.carousel.min.css'%}" rel="stylesheet">
    <link href="{% static 'activar/css/magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'activar/css/slicknav.min.css'%}" rel="stylesheet">
    <link href="{% static 'activar/css/style.css'%}" rel="stylesheet">
</head>
<body>
 <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
        {% block content %}
            {% include 'diplomproject/header.html' %}
        {% endblock content %}
    </div>

    <!-- Header Section Begin -->
<header class="header-section header-normal">
        <div class="container-fluid">
            <div class="logo">
                <a href="../../../../../diplom/diplom/templates/activar/home.html">
                    <img src="../../../../../diplom/diplom/static/home/img/logo.png" alt="">
                </a>
            </div>
            <div class="top-social">
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li><a href="../../../../../diplom/diplom/templates/activar/home.html">Home</a></li>
                            <li><a href="../../../../../diplom/diplom/templates/history/history.html">About us</a></li>
                            <li class="active"><a href="schedule.html">Schedule</a></li>
                            <li><a href=".html">Gallery</a></li>
                            <li><a href="../../ignore/blog.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="../../../../../diplom/diplom/templates/history/history.html">About Us</a></li>
                                    <li><a href="../news/blog-single.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href=".html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Header End -->

    <!-- Map Section End -->

    <!-- Footer Section Begin -->
    <!-- Footer Section End -->

 <!-- Js Plugins -->
    <script src="/static/home/js/jquery-3.3.1.min.js"></script>
    <script src="/static/home/js/bootstrap.min.js"></script>
    <script src="/static/home/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/home/js/mixitup.min.js"></script>
    <script src="/static/home/js/jquery.nice-select.min.js"></script>
    <script src="/static/home/js/jquery.slicknav.js"></script>
    <script src="/static/home/js/owl.carousel.min.js"></script>
    <script src="/static/home/js/masonry.pkgd.min.js"></script>
    <script src="/static/home/js/main.js"></script>
</body>


</html>