{% extends 'diplom/activar/base.html' %}
{% block content %}
    <!-- Gallery Section Begin -->
    <div id="sidebar">
        <div class="selected">
            <div id="main" class="product-list">
                {% for catalog in catalog %}
                    <div class="gallery-controls">
                        <ul>
                            <li class="active">
                                <a href="{{ catalog.get_absolute_url }}">
                                    {{ catalog.name }}></a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    </section>
{% endblock %}
    <!-- Cta Section End -->