{% extends 'diplom/activar/base.html' %}
{% load static %}
{#<link rel="stylesheet" href="{% static 'shop/css/style.css'%}" type="text/css">#}

{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <div class="img-history ">
            {% if product.productimage_set.all%}
                {% for image in product.productimage_set.all %}
                    <div>
                        <img src="{{ image.image.url }}" alt="{{ product.name }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
       <div class="product-d">
        <h6>Цена</h6>
        <ul><li>${{ product.price }}</li></ul>
        <h6>Детали</h6>
        <ul><li> {{ product.description|linebreaks }}</li></ul>
        <h6> Детали </h6>
        <ul><li>{{ product.details }}</li> </ul>
        <h6>Пол</h6>
        <ul><li>{{ product.gender }}</li> </ul>
        <h6>Размер</h6>
        <ul><li>{{ product.size }}</li> </ul>
        <h6>Колличество</h6>
        <ul><li>{{ product.quantity}}</li> </ul>
        <h6>Остаток</h6>
        <ul><li>{{ product.stock }}</li> </ul>
       </div>
    {% if not is_in_cart %}
        <div>
            <a href="{% url 'cart:cart_add' product.id %}">Add To Cart</a>
        </div>
    {% else %}
        <div>
            <a href='{% url 'cart:cart_detail' %}'>In Cart</a>
        </div>
    {% endif %}
{#  <form action="{% url "cart:cart_add" product.id %}" method="post">#}
{#        {{ cart_product_form }}#}
{#        {% csrf_token %}#}
{#        <input type="submit" value="Добавить в корзину">#}
{#    </form>#}
    </div>
{#      {% if not is_in_cart %}#}
{#        <div>#}
{#            <a href="{% url 'cart:add' product.slug %}">Add To Cart</a>#}
{#        </div>#}
{#    {% else %}#}
{#        <div>#}
{#            <a href='{% url 'cart:cart' %}'>In Cart</a>#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}

