{% extends 'diplom/activar/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/style.css'%}" type="text/css">

{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <img src="{{ product.image.url }}>
        <h2>
     <a href="{{ product.category.get_absolute_url }}">
        {{ product.category }}
        </a>
        </h2>
        <p class="price">${{ product.price }}</p>
        {{ product.description|linebreaks }}
        <h6> Детали </h6>
        <ul><li>{{ product.details }}</li> </ul>
        <h6>Пол</h6>
        <ul><li>{{ product.gender }}</li> </ul>
        <h6>Размер</h6>
        <ul><li>{{ product.size }}</li> </ul>
        <h6>Колличество</h6>
        <ul><li>{{ product.quantity}}</li> </ul>
        <h6>Остаток</h6>
        <ul><li>{{ product.stock }}</li> </ul>


    </div>
{% endblock %}
