{% extends 'diplom/activar/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}

   <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
              <div class="single-hero-item set-bg" data-setbg="static/home/img/hero-slider/home-1.jpg">
                        <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Join Us Now</h2>
                                <h1>Итоги чемпионата</h1>
                                <a href="{% url 'team_standing'%}" class="primary-btn">Итоги сезона</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="static/home/img/hero-slider/williams44.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Join Us Now</h2>
                                <h1>Новый болид Williams FW44 уже на трассе</h1>
                                <a href="{% url 'news:news'%}" class="primary-btn">Новости</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="static/home/img/hero-slider/home-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Join Us Now</h2>
                                <h1>Поддержи любимую команду  </h1>
                                <a href="{% url 'shop:shop'%}" class="primary-btn">Магазин</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Feature Section Begin -->
    <section class="feature-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="media/team/Латифи.jpg">
                        <h3>Николас Латифи №6</h3>
                        <p>Официальный пилот</p>
                        <a href="{% url 'team:driver_R' %}" class="primary-btn f-btn">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="media/team/рассел.jpg">
                        <h3>Джордж Расселл №63</h3>
                        <p>Официальный пилот</p>
                        <a href="{% url 'team:driver_R'%}" class="primary-btn f-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->
    <!-- About Section Begin -->
     <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>ВЕЛИКОЛЕПНЫЙ ОПЫТ WILLIAMS</h2>
                        <p class="short-details"> Движимый блеском и страстью покойного сэра Фрэнка Уильямса, Уильямс вырос
                            из скромных начинаний в бегемота Формулы-1, непревзойденный всеми, кроме Ferrari и McLaren, с
                            точки зрения устойчивого успеха. За последние четыре десятилетия команда одержала победы в
                            Гран-при и чемпионатах, воспитав при этом одни из величайших спортивных талантов как в кабине,
                            так и за ее пределами. Теперь, после решения семьи Уильямс уйти в отставку после продажи
                            команды Dorilton Capital, начинается новая эра...</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img/home-about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Classes Section Begin -->
    <section class="classes-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" data-setbg="media/articles/158838.jpg">
                        <h4>FW44 дебютирует в Сильверстоуне</h4>
                        <a href="http://127.0.0.1:8000/news/news/fw44-debyutiruet-v-silverstoune/" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="classes-item set-bg" data-setbg="media/articles/fw44-11.jpg">
                        <h4>Технические характеристики Williams FW44</h4>
                        <a href="http://127.0.0.1:8000/news/news/tehnicheskie-harakteristiki-williams-fw44/" class="primary-btn class-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section Begin -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                     <a href="{% url 'auth:registration' %}" >
{#                        <h3>GeT Started Today</h3>#}
                        <h3>ПОЛУЧИТЕ СКИДКУ 10% ПРИ РЕГИСТРАЦИИ И ПРИСОЕДИНЕНИИ К Williams Plus </h3></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Map Section Begin -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d188618.51311104256!2d-71.236572!3d42.381647!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1576756626784!5m2!1sen!2sbd" height="590" style="border: 0" allowfullscreen=""></iframe>
        <div class="map-contact-detalis">
            <div class="open-time">
                <h5>Weekday:</h5>
                <ul>
                    <li>Weekday: <span>06:30 - 11:00</span></li>
                    <li>Saturday: <span>07:00 - 22:00</span></li>
                    <li>Sunday: <span>09:00 - 18:00</span></li>
                </ul>
            </div>
            <div class="map-contact-form">
                <h5>Contact Us</h5>
                <form action="#">
                    <input type="text" placeholder="Name">
                    <input type="text" class="phone" placeholder="Phone">
                    <textarea placeholder="Message"></textarea>
                    <button type="submit" class="site-btn">Submit Now</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Map Section End -->
 </div>
{% endblock %}