{% extends 'diplom/activar/base.html' %}
{% block title %}
    Кубок конструктора
{% endblock %}
{% block content %}
    <section class="classtime-section ">
        <div class="col-lg-12 text-center">
            <div class="section-title">
                <h2> Кубок конструктора</h2>
            </div>
        </div>
        {% for team_standing in team_standing %}
            <div class="classtime-table">
                <table>
                    <thead>
                    <tr>
                        <th>Команда</th>
                        <th>Очки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-tsmeta="crossfit">
                            <h6>{{ team_standing.team}}</h6>
                        </td>
                        <td>
                            <h6>{{ team_standing.score}}</h6>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </section>
        {% endfor %}
{% endblock %}