{% extends 'diplom/activar/base.html' %}
{% load static %}
{% block content %}
    <!-- Blog Section Begin -->
    {% for news in news %}
        <section class="blog-section blog-page spad">
        <div class="container">
        <div class="row blog-gird">
        <div class="grid-sizer"></div>
        <div class="col-lg-4 col-md-6 grid-item">
        <div class="blog-item large-item set-bg">
            <a href="{{ news.get_absolute_url }}">{{ news.title }} </a>
            <img src="{{news.image.url}}">
        </div>
        <div>
            <h5>{{ news.text| linebreaks|truncatechars:200 }}</h5>
        </div>
        <div>
            {{ news.publish }}
            {{ news.description}}
        </div>
    {% endfor %}
{% endblock %}
</div>
</div>
</div>
</section>
<div class="blog-option">
    <div class="blog-pagination">
        <a href="#" class="active">1</a>
        of
        <a href="#">3</a>
        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
    </div>
    <div class="blog-option-right">
        <div class="blog-result">Showing 1–3 of 12 results</div>
        <div class="show-result">
            <p>Show:</p>
            <select class="show-result-select">
                <option value="">09</option>
                <option value="">19</option>
                <option value="">29</option>
            </select>
        </div>
    </div>
</div>

<!-- Blog Section End -->

