{% extends 'diplom/activar/base.html' %}
{% load static %}
{% block content %}
    {% for news in news %}
        <div id="main-wrapper">
            <div class="site-wrapper-reveal">
                <div class="blog-details-wrapper section-space--ptb_80">
                    <div class="container">
                        <div class="row row--17">
                            <div class="blog-details-col-8">
                                <div class="masonry-activation">
                                    <div class="row mesonry-list">
                                        <div class="masonary-sizer col-1">
                                        </div>
                                        <div class="author-blog-post-wrap masonary-item cat--3">
                                            <a href="{{ news.get_absolute_url }}" class="author-blog-thum">
                                                <img src="{{news.image.url}}"></a>
                                            <div class="author-blog-post-content">
                                                <div class="blog-details-meta-box">
                                                    <div class="post-meta-left-side mb-2">
                                                        <div class="blog-post-category">
                                                            <a class="btn-medium business mr-1">{{ news.tags }}</a>
                                                        </div>
                                                        <div class="blog-post-author">
                                                            <h6>By{{ news.author }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="post-right-side mb-2">
                                                            <span class="post-meta-left-side">
                                                            <span class="post-date">
                                                                <i class="icofont-ui-calendar"></i>
                                                                <h6>{{ news.publish }}</h6>
                                                            </span>
                                                            </span>
                                                    </div>
                                                </div>
                                                <h3 class="title mb-2"><a href={{ news.get_absolute_url }}>{{ news.title }}</a>
                                                </h3>
                                                <p class="mb-2">{{ news.text| linebreaks|truncatechars:500 }}</p>
                                                <div class="author-post-bottom-area">
                                                    <div class="author-post-action-box">
                                                        <div class="author-action">
                                                            <img src="assets/images/icons/heart-2.png" alt="">
                                                            <span class="count">{{ news.tag }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}
