{% extends 'diplom/activar/base.html' %}
{% block title %}
    History
{% endblock %}
{% block content %}   <!-- Blog Section Begin -->
{% for history in history %}
<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <div class="blog-details-wrapper section-space--ptb_80">
            <div class="container">
                <div class="row row--17">
                    <div class="blog-details-col-8">
                        <div class="masonry-activation">
                            <div class="row mesonry-list">
                                <div class="author-blog-post-wrap masonary-item cat--3">
                                    <a href="blog-details.html" class="author-blog-thum">
                                        <img src="{{history.image.url}}"></a>
                                    <div class="author-blog-post-content">
                                        <div class="blog-details-meta-box">
                                            <div class="post-meta-left-side mb-2">
                                                <div class="blog-post-category">
                                                    <a href="{{history.get_absolute_url }}" class="btn-medium food">{{history.title}}</a>
                                                <div class="blog-post-author">
                                                     <a href="#">{{ history.year }}</a>
                                                </div>
                                            </div>
                                            <div class="post-right-side mb-2">
                                                    <span class="post-meta-left-side">
                                                    <span class="post-date">
                                                        <i class="icofont-ui-calendar"></i>
                                                        <a href="#">{{ history.publish }}</a>
                                                    </span>
                                                    </span>
{#                                                <span>10 min read</span>#}
                                            </div>
                                        </div>
                                        <h3 class="title mb-2"><a href="blog-details.html">{{ history.title }}</a>
                                        </h3>
                                        <p class="mb-2">{{ history.text| linebreaks|truncatechars:500 }}</p>
                                        <div class="author-post-bottom-area">
                                            <div class="author-post-action-box">
                                                <div class="author-action">
                                                    <img src="assets/images/icons/heart-2.png" alt="">
                                                    <span class="count">{{ history.tags }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}