
{% extends 'diplom/activar/base.html' %}
{% block content %}
    <!-- Blog Single Section Begin -->
    <section class="blog-single-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-title">
                        <div class="section-title">
                            <h2>{{ period.title}}</h2>
                        </div>
                        {% for image in period.historyimage_set.all %}
                            <img src="{{image.image.url}}">   {% endfor %}
                        {% for historyI in HistoryImage %}
                            <div class="img-history " alt="{{ historyI.description}}"></div>
                        {% endfor %}
                        <h4>{{ period.Year }}</h4>
                        <p>{{ period.text| linebreaks }}</p>
                    </div>
                    <div class="blog-tag-share">
                        <div class="tags">
                            <a href="#">{{ post.tags }}</a>
                        </div>
                        <div class="social-share">
                            <span>Share:</span>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
