{% extends 'diplom/activar/base.html' %}
{% block content %}
    {% for driverR in driverR %}
        <section class="aboutus-section spad">
            <div class="container">
                <div class="aboutus-page-text">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 m-auto">
                            <div class="section-title">
                                <h2>{{ driverR.name }}</h2>
                            </div>
                        </div>
                    </div>
                    {% for image in driverR.teamimage_set.all %}
                        <img src="{{image.image.url}}">
                    {% endfor %}
                    <div class="about-us">
                        <h4>{{ driverR.name }}</h4>
                        <p>{{ driverR.text | linebreaks }}
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </section>

    {% endfor %}
{% endblock %}