{% extends 'diplom/activar/base.html' %}

<style>
	/* Стили таблицы (IKSWEB) */
	table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
	table.iksweb th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#354251;}
	table.iksweb td{font-size:13px;color:#354251;}
	table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #354251;}	table.iksweb tr:hover{background-color:#f9fafb}
	table.iksweb tr:hover td{color:#354251;cursor:default;}
</style>
{% block title %}
Schedule
{% endblock %}
{% block content %}
{% for schedule in schedule %}
<table class="iksweb">
<thead>
<tr>
	<th> Дата </th>
	<th>Гран При</th>
	<th>Траса</th>
	<th>Длинна</th>
    <th> Круги </th>
	<th>Дистанция</th>
	<th>Победитель</th>
	<th>Команда</th>
</tr>
</thead>
<tbody>
<tr>
    <td>{{ schedule.date }}</td>
{#	<td>{{ schedule.imagine }}</td>#}
	<td>{{ schedule.gran_ptix }}</td>
	<td>{{ schedule.track}}</td>
	<td>{{ schedule.lenght }}</td>
    <td>{{ schedule.laps }}</td>
    <td>{{ schedule.distance}}</td>
	<td>{{ schedule.winner }}</td>
    <td>{{ schedule.team }}</td>
</tr>

</tbody>
</table>
{% endfor %}
{% endblock %}