{% extends 'diplom/activar/base.html' %}
{% block content %}
    <section class="classtime-section class-time-table spad">
        <div class="col-lg-12 text-center">
            <div class="section-title">
                <h2>Рассписание</h2>
            </div>
        </div>
        </div>
        <div class="row">
            {% for schedule in schedule %}
                <div class="classtime-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Страна</th>
                            <th>Гран При</th>
                            <th>Траса</th>
                            <th>Длинна</th>
                            <th>Круги</th>
                            <th>Дистанция</th>
                            <th>Победитель</th>
                            <th>Команда</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <h6>{{schedule.date}}</h6>
                            </td>

                            <td>
                                <h6> <img src="{{schedule.image.url}}"></h6>
                            </td>
                            <td>
                                <h6>{{schedule.grandprix}}</h6>
                            </td>
                            <td>
                                <h6>{{schedule.track}}</h6>
                            </td>
                            <td>
                                <h6>{{schedule.length}}</h6>
                            </td>
                            <td>
                                <h6>{{schedule.laps}}</h6>
                            </td>
                            <td>
                                <h6>{{schedule.distance}}</h6>
                            </td>
                            <td>
                                <h6>{{schedule.winner}}</h6>
                            </td>
                            <td>
                                <h6>{{schedule.team}}</h6>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </section>
            {% endfor %}
{% endblock %}